.container {
	background-color: #f5f5f5;
	padding: 35px;
	margin: 0;
}
.one {
	background-color: rgb(255, 255, 255);
	padding: 10px;
	margin: 10px;
	box-shadow: 0 0 5px 0 #888888;
}

.writer {
	font-style: italic;
	text-align: right;
	padding-right: 10px;
}